<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Solo tu aplicación -->
    <logger name="dw.randomizer" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Silenciar Spring, Hibernate, etc. -->
    <logger name="org.springframework" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="com.zaxxer.hikari" level="warn"/>

    <!-- Root opcional -->
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
